@font-face {
  font-family: 'Rochester';
  src: url("../fonts/rochester.ttf");
  /* IE 9 Compatibility Mode */
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Sansation Light';
  src: url("../fonts/sansation_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sansation_light.eot?#iefix") format("embedded-opentype"), url("../fonts/sansation_light.ttf") format("truetype"), url("../fonts/sansation_light.svg#sansation_light") format("svg");
  /* Chrome < 4, Legacy iOS */ }

.section-main {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh;
  background-image: url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  position: relative;
  transition: "all 0.3s ease"; }
  .section-main .text {
    position: absolute;
    margin-top: 22vh;
    left: 5%;
    transition: "all 0.3s ease"; }
    .section-main .text h1 {
      color: #ff00d4;
      font-family: Rochester;
      font-style: normal;
      font-weight: normal;
      transition: "all 0.3s ease"; }
    .section-main .text p {
      margin-top: 10%;
      font-family: 'Sansation Light';
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: #E3BBDD;
      font-family: Sansation Light;
      font-style: normal;
      transition: all 0.1s ease; }

.section-text {
  padding: 0 4%;
  text-align: center;
  z-index: 10; }
  .section-text h1 {
    font-size: 4vh; }
  .section-text p {
    margin-top: .5rem !important;
    font-size: 2.8vh;
    text-align: center; }

.section-watercolor {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh; }
  .section-watercolor .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1; }

.section-inc {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh; }
  .section-inc .bg1 {
    position: absolute;
    width: 30%;
    top: 10vh;
    right: 0;
    z-index: -1; }
  .section-inc .bg2 {
    position: absolute;
    z-index: -1;
    top: 23vh;
    width: 100%; }

.section-pencil {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh; }
  .section-pencil .bg1 {
    position: absolute;
    top: 25%;
    height: 70%;
    right: 0;
    z-index: -1; }
  .section-pencil .swiper-container {
    margin-top: 10vh; }

.section-sepia {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh; }
  .section-sepia .bg1 {
    position: absolute;
    width: 100%;
    top: 25vh;
    right: 0;
    z-index: -1; }
  .section-sepia .swiper-container {
    height: 60vh; }

.section-price {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 10vh; }
  .section-price .bg1 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .section-price .text {
    margin-top: 20vh; }

.uk-panel img {
  object-fit: cover;
  height: 100%; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.burger {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 3vh;
  right: 3%;
  box-sizing: border-box;
  z-index: 20;
  transition: all 0.8s ease; }
  .burger div {
    z-index: 20; }
  .burger div:nth-child(1) {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }
  .burger div:nth-child(2) {
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }

.burger-active div:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-active div:nth-child(2) {
  top: 10px;
  transform: rotate(-45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-black div:nth-child(1) {
  background-color: black; }

.burger-black div:nth-child(2) {
  background-color: black; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 7;
  background-color: #fff;
  transform: translate(100vw);
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .menu .label {
    font-size: 30vh;
    width: 60%;
    text-align: center;
    display: none; }
  .menu ul {
    width: 80%; }
    .menu ul li {
      list-style-type: none; }
      .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: black; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Sansation Light', arial;
  font-size: 36px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container {
  width: 100%;
  min-height: 100vh; }
