@font-face {
  font-family: 'Sansation Light';
  src: url("../fonts/sansation_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sansation_light.eot?#iefix") format("embedded-opentype"), url("../fonts/sansation_light.ttf") format("truetype"), url("../fonts/sansation_light.svg#sansation_light") format("svg");
  /* Chrome < 4, Legacy iOS */ }

@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/greatvibes.ttf");
  font-weight: 400;
  font-style: normal; }

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #fff; }
  .loader .loader-text {
    position: fixed;
    margin-top: 33vh;
    left: 5%; }
    .loader .loader-text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease";
      opacity: 0; }

.section-main {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  background-image: url("../images/4 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  transition: "all 0.1s ease";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border: none; }
  .section-main .text {
    position: fixed;
    margin-top: 25vh;
    left: 5%; }
    .section-main .text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease"; }
    .section-main .text p {
      margin-top: 10%;
      font-family: 'Sansation Light';
      font-size: 0.6rem;
      color: #B3A0FF;
      font-family: Sansation Light;
      font-style: normal;
      transition: "all 0.1s ease"; }

.section-empty {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  opacity: 0; }

.section-text {
  padding: 0 2%;
  text-align: center;
  z-index: 10; }
  .section-text h1 {
    font-size: 0.8rem; }
  .section-text p {
    margin-top: .5rem !important;
    font-size: 0.5rem;
    text-align: center;
    word-wrap: break-word; }
  .section-text .btn {
    width: 80%;
    margin: auto;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: rgba(4, 124, 255, 0.5);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease; }
  .section-text .btn:hover {
    background-color: rgba(4, 124, 255, 0.8);
    transition: all 0.5s ease; }

.section-watercolor {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-watercolor .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1; }

.section-inc {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-inc .bg2 {
    position: absolute;
    z-index: -1;
    bottom: 0vh;
    right: 0;
    width: 40% !important; }

.section-pencil {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-pencil .bg1 {
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 80%;
    left: 0%;
    z-index: -1; }
  .section-pencil .swiper-container {
    margin-top: 10vh; }

.section-sepia {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-sepia .bg {
    position: absolute;
    width: 50%;
    right: 0;
    height: 50%;
    z-index: -1;
    bottom: 0;
    background-image: url("../images/bg/sepia.jpg");
    background-size: cover; }
  .section-sepia .swiper-container {
    height: 60vh; }

.section-acrylic {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-acrylic .bg1 {
    position: absolute;
    width: 70%;
    height: 200px;
    left: 20%;
    top: 30vh;
    z-index: -1;
    transform: rotate(-90deg); }
  .section-acrylic .swiper-container {
    height: 60vh; }

.section-price {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  .section-price .bg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .section-price .text {
    margin-top: 20vh; }

.swiper-container {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 50px;
  height: 55vh; }

.swiper-slide {
  width: auto !important;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center; }
  .swiper-slide img {
    object-fit: cover; }

@media all and (min-width: 1000px) {
  .section {
    padding: 0 10%; }
  .text h1 {
    font-size: 1rem; }
  .text p {
    font-size: 0.7rem; } }

@media all and (min-width: 800px) {
  .text h1 {
    font-size: 0.9rem; }
  .text p {
    font-size: 0.5rem; }
  .section-main .text-main {
    top: -10vh;
    left: 5% !important; }
    .section-main .text-main h1 {
      font-size: 2.4rem !important; }
    .section-main .text-main p {
      font-size: 0.9rem !important; }
  .section-main {
    background-image: url("../images/main-big.jpg"); }
  .section.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .section.flex img {
      width: 50%; }
    .section.flex .text {
      width: 40%; }
    .section.flex .swiper-container {
      width: 50%;
      height: 80vh; }
  .section.flex.reverce {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse; } }

@media all and (min-width: 650px) {
  .text-main {
    margin-top: 35vh !important;
    left: 5%; }
    .text-main h1 {
      font-size: 1.4rem !important; }
    .text-main p {
      font-size: 0.9rem !important; }
  .swiper-container {
    height: 65vh; } }

.burger {
  width: 40px;
  height: 20px;
  position: fixed;
  top: 3vh;
  right: 3%;
  box-sizing: border-box;
  z-index: 20;
  margin: 0;
  padding: 0;
  transition: all 0.8s ease;
  cursor: pointer; }
  .burger div {
    z-index: 20;
    line-height: 1px; }
  .burger div:nth-child(1) {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }
  .burger div:nth-child(2) {
    position: absolute;
    top: 17px;
    width: 100%;
    height: 2px;
    line-height: 1px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }

.burger-active div:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-active div:nth-child(2) {
  top: 10px;
  transform: rotate(-45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-black div:nth-child(1) {
  background-color: black; }

.burger-black div:nth-child(2) {
  background-color: black; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 7;
  background-color: #fff;
  transform: translate(100vw);
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .menu .label {
    font-size: 30vh;
    width: 60%;
    text-align: center;
    display: none; }
  .menu ul {
    width: 80%; }
    .menu ul li {
      list-style-type: none; }
      .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: black; }

@media all and (min-width: 1050px) {
  .burger {
    top: 5vh; } }

* {
  padding: 0;
  margin: 0;
  font-family: 'Sansation Light', arial;
  font-size: 36px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container {
  width: 100%;
  min-height: 100vh; }
