.burger {
  width: 40px;
  height: 20px;
  position: fixed;
  top: 3vh;
  right: 3%;
  box-sizing: border-box;
  z-index: 20;
  margin: 0;
  padding: 0;
  transition: all 0.8s ease; }
  .burger div {
    z-index: 20;
    line-height: 1px; }
  .burger div:nth-child(1) {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }
  .burger div:nth-child(2) {
    position: absolute;
    top: 17px;
    width: 100%;
    height: 2px;
    line-height: 1px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    transition-delay: 0.5s; }

.burger-active div:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-active div:nth-child(2) {
  top: 10px;
  transform: rotate(-45deg);
  background-color: black;
  transition-delay: 0.5s; }

.burger-black div:nth-child(1) {
  background-color: black; }

.burger-black div:nth-child(2) {
  background-color: black; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 7;
  background-color: #fff;
  transform: translate(100vw);
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .menu .label {
    font-size: 30vh;
    width: 60%;
    text-align: center;
    display: none; }
  .menu ul {
    width: 80%; }
    .menu ul li {
      list-style-type: none; }
      .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: black; }
