.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #fff; }
  .loader .loader-text {
    position: fixed;
    margin-top: 33vh;
    left: 5%; }
    .loader .loader-text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease";
      opacity: 0; }

.section-main {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1;
  background-image: url("../images/4 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  position: relative;
  transition: "all 0.1s ease";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .section-main .text {
    position: fixed;
    margin-top: 25vh;
    left: 5%; }
    .section-main .text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease"; }
    .section-main .text p {
      margin-top: 10%;
      font-family: 'Sansation Light';
      font-size: 0.6rem;
      color: #B3A0FF;
      font-family: Sansation Light;
      font-style: normal;
      transition: "all 0.1s ease"; }

.section-empty {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  opacity: 0; }

.section-text {
  padding: 0 2%;
  text-align: center;
  z-index: 10; }
  .section-text h1 {
    font-size: 0.8rem; }
  .section-text p {
    margin-top: .5rem !important;
    font-size: 0.5rem;
    text-align: center;
    word-wrap: break-word; }

.section-watercolor {
  box-shadow: 0em -0.2em 0.4rem rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-watercolor .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1; }

.section-inc {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-inc .bg1 {
    position: absolute;
    width: 30%;
    top: 10vh;
    right: 0;
    z-index: -1; }
  .section-inc .bg2 {
    position: absolute;
    z-index: -1;
    bottom: 10vh;
    width: 100%;
    transform: rotate(-60deg); }

.section-pencil {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-pencil .bg1 {
    position: absolute;
    top: 25%;
    height: 70%;
    right: 0;
    z-index: -1; }
  .section-pencil .swiper-container {
    margin-top: 10vh; }

.section-sepia {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-sepia .bg {
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    z-index: -1;
    background-image: url("../images/bg/sepia.jpg");
    background-size: cover; }
  .section-sepia .swiper-container {
    height: 60vh; }

.section-acrylic {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-acrylic .bg1 {
    position: absolute;
    width: 100%;
    top: 20vh;
    right: 0;
    z-index: -1; }
  .section-acrylic .swiper-container {
    height: 60vh; }

.section-price {
  width: 100%;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  position: relative;
  padding-top: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  z-index: 1; }
  .section-price .bg1 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .section-price .text {
    margin-top: 20vh; }

.swiper-container {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 50px;
  height: 55vh; }

.swiper-slide {
  width: auto !important;
  height: 100%; }
  .swiper-slide img {
    object-fit: cover; }
