.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #fff; }
  .loader .loader-text {
    position: fixed;
    margin-top: 33vh;
    left: 5%; }
    .loader .loader-text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease";
      opacity: 0; }

.section-main {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  background-image: url("../images/4 (1)small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  transition: "all 0.1s ease";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border: none; }
  @media all and (max-width: 800px) {
    .section-main .bg {
      display: none; }
    .section-main .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-main .bg {
      display: block; }
    .section-main .bgM {
      display: none; } }
  .section-main .text {
    position: fixed;
    margin-top: 29vh;
    left: 5%; }
    .section-main .text h1 {
      font-size: 0.7rem;
      color: #CE43FF;
      font-family: 'Great Vibes';
      font-style: normal;
      font-weight: normal;
      transition: "all 0.1s ease"; }
    .section-main .text p {
      margin-top: 10%;
      font-family: 'Sansation Light';
      font-size: 0.6rem;
      color: #B3A0FF;
      font-family: Sansation Light;
      font-style: normal;
      transition: "all 0.1s ease"; }
    .section-main .text p.dt {
      display: none; }

.section-empty {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  opacity: 0; }
  @media all and (max-width: 800px) {
    .section-empty .bg {
      display: none; }
    .section-empty .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-empty .bg {
      display: block; }
    .section-empty .bgM {
      display: none; } }

.section-text {
  padding: 0 2%;
  text-align: center;
  z-index: 10; }
  .section-text h1 {
    font-size: 0.8rem; }
  .section-text p {
    margin-top: .5rem !important;
    font-size: 0.5rem;
    text-align: center;
    word-wrap: break-word; }
  .section-text .btn {
    width: 70%;
    margin: auto;
    padding: 0.2rem 1.5rem;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); }
  .section-text .btn:hover {
    -webkit-box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
    transition: all 0.5s ease; }
  .section-text .button-parent {
    width: 100%;
    text-align: center; }
  .section-text a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: black;
    display: inline-block; }
  .section-text .btn-2 {
    margin-top: 20px;
    padding: 0.1rem 1.5rem;
    border: 3px solid black;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 20px; }

.section-watercolor {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  padding-top: 8vh !important; }
  @media all and (max-width: 800px) {
    .section-watercolor .bg {
      display: none; }
    .section-watercolor .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-watercolor .bg {
      display: block; }
    .section-watercolor .bgM {
      display: none; } }
  .section-watercolor .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1; }
  .section-watercolor .btn {
    background-color: #67D1FF;
    border: none; }
  @media all and (min-width: 800px) {
    .section-watercolor .bg {
      width: 100% !important;
      height: 100vh; } }

.section-inc {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  @media all and (max-width: 800px) {
    .section-inc .bg {
      display: none; }
    .section-inc .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-inc .bg {
      display: block; }
    .section-inc .bgM {
      display: none; } }
  .section-inc .btn {
    background-color: #515151;
    border: none; }
  .section-inc .bg {
    position: absolute;
    z-index: -1;
    bottom: 5vh;
    right: 5%;
    width: 90% !important; }

.section-pencil {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  @media all and (max-width: 800px) {
    .section-pencil .bg {
      display: none; }
    .section-pencil .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-pencil .bg {
      display: block; }
    .section-pencil .bgM {
      display: none; } }
  .section-pencil .bg {
    position: absolute;
    bottom: 10vh;
    height: 80%;
    width: 90% !important;
    left: 5%;
    z-index: -1; }
  .section-pencil .btn {
    background-color: #BFBEBE;
    border: none; }

.section-sepia {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  @media all and (max-width: 800px) {
    .section-sepia .bg {
      display: none; }
    .section-sepia .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-sepia .bg {
      display: block; }
    .section-sepia .bgM {
      display: none; } }
  .section-sepia .bg {
    position: absolute;
    width: 90% !important;
    left: 5%;
    height: 80%;
    z-index: -1;
    top: 10%; }
  .section-sepia .btn {
    background-color: #CCAE81;
    border: none; }
  .section-sepia .swiper-container {
    height: 60vh; }

.section-acrylic {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  @media all and (max-width: 800px) {
    .section-acrylic .bg {
      display: none; }
    .section-acrylic .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-acrylic .bg {
      display: block; }
    .section-acrylic .bgM {
      display: none; } }
  .section-acrylic .bg {
    position: absolute;
    width: 100% !important;
    height: 80%;
    left: 0%;
    top: 10vh;
    z-index: -1; }
  .section-acrylic .btn {
    background-color: #8EC9FF;
    border: none; }
  .section-acrylic .swiper-container {
    height: 60vh; }

.section-price {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%; }
  @media all and (max-width: 800px) {
    .section-price .bg {
      display: none; }
    .section-price .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-price .bg {
      display: block; }
    .section-price .bgM {
      display: none; } }
  .section-price .text p {
    font-size: 0.6rem;
    font-weight: 800; }
  .section-price .section-price-first {
    width: 100%;
    height: 100%; }
  .section-price .section-price-second {
    width: 100%;
    height: 100%; }
  .section-price .h1 {
    display: block; }
  .section-price .h11 {
    display: none; }
  .section-price .slider {
    margin-top: 10px;
    width: 100%;
    height: 50vh; }
    .section-price .slider .slider-wrap {
      width: 100%;
      height: 100%;
      position: relative; }
      .section-price .slider .slider-wrap .slide {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        opacity: 0;
        transition: all 0.5s ease-in; }
        .section-price .slider .slider-wrap .slide img {
          object-fit: contain;
          width: 100%;
          height: 100%; }
      .section-price .slider .slider-wrap .slide.active {
        opacity: 1;
        transition: all 0.5s ease-in; }
  .section-price .calculator {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 10px;
    position: relative; }
    .section-price .calculator .material input {
      width: 20px;
      height: 20px;
      margin-top: 5px; }
    .section-price .calculator .material label {
      font-size: 0.7rem; }
    .section-price .calculator .size {
      position: relative; }
      .section-price .calculator .size input {
        width: 20px;
        height: 20px;
        margin-top: 5px; }
      .section-price .calculator .size label {
        font-size: 0.7rem; }
      .section-price .calculator .size p {
        position: absolute;
        width: auto;
        height: 5vh;
        margin-top: 7px;
        font-size: 0.8rem;
        font-weight: bold; }
        .section-price .calculator .size p span {
          font-size: 0.8rem;
          font-weight: bold;
          color: #221212; }

@media all and (min-width: 800px) {
  .section-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .section-price .slider {
      height: 70vh; }
    .section-price .h1 {
      display: none; }
    .section-price .h11 {
      display: block; } }

.section-contacts {
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  padding-top: 4vh;
  border: 1px solid white;
  background-color: white;
  z-index: 1; }
  @media all and (max-width: 800px) {
    .section-contacts .bg {
      display: none; }
    .section-contacts .bgM {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      z-index: -1; } }
  @media all and (min-width: 800px) {
    .section-contacts .bg {
      display: block; }
    .section-contacts .bgM {
      display: none; } }
  .section-contacts .bg-contacts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: -1; }
  .section-contacts .text {
    margin-top: 20vh; }

.swiper-container {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 50px;
  height: 55vh; }
  .swiper-container .swiper-button-next::after,
  .swiper-container .swiper-button-prev::after {
    color: black; }
  .swiper-container .swiper-pagination-bullet-active {
    background-color: black; }

.swiper-slide {
  width: auto !important;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center; }
  .swiper-slide img {
    object-fit: cover; }

@media all and (min-width: 1000px) {
  .section {
    padding: 0 10%; }
  .text h1 {
    font-size: 1rem; }
  .text p {
    font-size: 0.7rem; } }

@media all and (min-width: 800px) {
  .text h1 {
    font-size: 0.9rem; }
  .text p {
    font-size: 0.5rem; }
  .section-main .text-main {
    width: 60%;
    top: -17vh;
    left: 10%; }
    .section-main .text-main h1 {
      font-size: calc((530vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem) !important; }
    .section-main .text-main p.mobil {
      font-size: 0.9rem !important;
      display: none; }
    .section-main .text-main p.dt {
      display: block;
      margin-top: 0%;
      margin-left: 5%;
      font-size: calc((130vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem) !important; }
  .section-main {
    background-image: url("../images/bg/mainbig2.jpg"); }
  .section.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .section.flex img {
      width: 50%; }
    .section.flex .text {
      margin-top: -20vh;
      width: 45%; }
      .section.flex .text h1 {
        font-size: calc((60vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem); }
      .section.flex .text p {
        font-size: calc((30vw - 30rem)/(50 - 30) * (1.5 - 1) + 1rem);
        font-weight: 100; }
    .section.flex .swiper-container {
      width: 50%;
      height: 80vh; }
  .section.flex.reverce {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse; } }

@media all and (min-width: 650px) {
  .text-main {
    margin-top: 35vh !important;
    left: 5%; }
    .text-main h1 {
      font-size: 1.4rem !important; }
    .text-main p {
      font-size: 0.9rem !important; }
  .swiper-container {
    height: 65vh; } }
