
// @font-face {
//     font-family: 'Rochester';
//     // src: local('Rochester'), url('rochester.woff2') format('woff2'), url('rochester.woff') format('woff'), url('rochester.ttf') format('truetype');
//     src: url('../fonts/rochester.ttf'); /* IE 9 Compatibility Mode */
// 	// src: url('../fonts/rochester.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
// 	// 	url('../fonts/rochester.woff2') format('woff2'), /* Super Modern Browsers */
// 	// 	url('../fonts/rochester.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
// 	// 	url('../fonts/rochester.ttf') format('truetype'), /* Safari, Android, iOS */
// 	// 	url('../fonts/rochester.svg#sansation_light') format('svg'); /* Chrome < 4, Legacy iOS */
//     font-weight: 400;
//     font-style: normal;
// }


@font-face {
	font-family: 'Sansation Light';
	src: url('../fonts/sansation_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sansation_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		// url('../fonts/sansation_light.woff2') format('woff2'), /* Super Modern Browsers */
		// url('../fonts/sansation_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sansation_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sansation_light.svg#sansation_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Great Vibes';
	src: url('../fonts/greatvibes.ttf');
    // src: local('Great Vibes'), local('GreatVibes-Regular'), url('greatvibes.woff2') format('woff2'), url('greatvibes.woff') format('woff'), url('greatvibes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
