@import 'fonts';
@import 'section-main';
@import 'nav';

* {
  padding: 0;
  margin: 0;
  font-family: 'Sansation Light', arial;
  font-size: 36px;
  // min-height: -webkit-fill-available;
  // text-shadow: 4px 4px 4px #aaa;
}

body {
  // overflow-x: hidden;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // или rgba(0,0,0,0), помню, был глюк с цветом в каких-то версиях браузера
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  // margin : auto;

  // height: auto;
  //   background-color: red;
}


