$whitecolor: white;
$blackcolor: black;

@mixin section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    padding-top: 6vh;
    // border: 1px solid red;
}

.section-main {
    @include section;
    // background-color: green;
    background-image: url('../images/img (14).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    position: relative;



    .text {
        position: absolute;
        // width: 30%;
        margin-top: 25vh;
        left: 5%;

        h1 {
            font-size: calc((250vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            // font-size: 1rem;
            color: #EC14C9;
            font-family: Rochester;
            font-style: normal;
            font-weight: normal;
        }

        p {
            margin-top: 10%;
            font-family: 'Sansation Light';
            font-size: calc((20vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            color: #E3BBDD;
            font-family: Sansation Light;
            font-style: normal;
        }
    }

}

.section-text {
    padding: 0 5%;
    text-align: left;
    z-index: 10;

    h1 {
        font-size: calc((120vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }

    p {
        margin-top: 0.2rem;
        font-size: calc((20vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }
}

.section-watercolor {
    @include section;
 

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: contain;
        z-index: -1;
    }



}

.section-inc{
    .text{
        width: 80%;
    }
    @include section;
    .bg1{
        position: absolute;
        
        width: 30%;
        top: 10vh;
        right: 0;
        z-index: -1;
    }
    .bg2{
        position: absolute;
        z-index: -1;
        top: 23vh;
        width: 100%;
    }
}
.section-pencil{

    @include section;
    .bg1{
        position: absolute;
        
        width: 90%;
        top: 30vh;
        right: 0;
        z-index: -1;
    }
    .swiper-container{
        margin-top: 10vh;
    }

}
.section-sepia{

    @include section;
    .bg1{
        position: absolute;
        
        width: 100%;
        top: 25vh;
        right: 0;
        z-index: -1;
    }
    .swiper-container{
        height: 60vh;
    }

}
.section-price{

    @include section;
    .bg1{
        position: absolute;
        
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .text{
         margin-top: 30vh;
    }
  

}










.swiper-container {
    margin-top: 5vh;
    width: 100%;
    padding-left: 5% !important;
    height: 50vh;
    // background-color: red;
    .swiper-pagination-bullet-active{
        background-color: rgb(221, 133, 0);
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: red;
    // width: auto;
    width: auto !important;
    height: 100% !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

 
