$whitecolor: white;
$blackcolor: black;

$mainTransition : 'all 0.1s ease';

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #fff;

    .loader-text {
        position: fixed;
        margin-top: 33vh;
        left: 5%;

        h1 {
            font-size: 0.7rem;
            color: #CE43FF;
            font-family: 'Great Vibes';
            font-style: normal;
            font-weight: normal;
            transition: $mainTransition;
            opacity: 0;
            // z-index: 1120 ;
        }
    }
}

@mixin section {
    width: 100%;
    min-height: 100vh !important;
    // min-height: -webkit-fill-available;

    // height: auto;
    position: relative;
    padding-top: 4vh;
    border: 1px solid white;
    // border: none;
    background-color: white;
    z-index: 1;

    @media all and (max-width: 800px){
        .bg{
            display: none;
        }
        .bgM{
            display: block;
            position: absolute;
            bottom: 10%;
            left : 0;
            width: 100%;
            z-index: -1;
        }
    }
    @media all and (min-width: 800px){
        .bg{
            display: block;
        }
        .bgM{
            display: none;
        }
    }
 
}

.section-main {
    @include section;
    // width: 80%;
    // background-color: green;
    background-image: url('../images/4 (1)small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    // background-position: 0 0;
    position: relative;
    transition: $mainTransition;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border: none;



    .text {
        position: fixed;

        margin-top: 29vh;
        left: 5%;
        // transition: $mainTransition;
        // z-index: 125 ;

        h1 {
            // font-size: calc((250vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            font-size: 0.7rem;
            // color: rgb(255, 0, 212);
            color: #CE43FF;
            // color: red;
            // color: #EC14C9;
            // font-family: Rochester;
            font-family: 'Great Vibes';
            font-style: normal;
            font-weight: normal;
            transition: $mainTransition;
            // z-index: 1120 ;
        }

        p {
            margin-top: 10%;
            font-family: 'Sansation Light';
            // font-size: calc((1vh - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            font-size: 0.6rem;
            // line-height: 1.8rem;
            // color: #E3BBDD;
            color: #B3A0FF;
            // color: yellow;
            font-family: Sansation Light;
            font-style: normal;
            transition: $mainTransition;
        }

        p.dt {
            display: none;
        }

    }

}

// @media all and (min-width: 550px){
//     .section-main{
//         background-position: top center;
//     }
// }
.section-empty {
    @include section;
    position: absolute;
    top: 0;
    // background-color: red;
    opacity: 0;
}

.section-text {
    padding: 0 2%;
    text-align: center;
    z-index: 10;

    h1 {
        font-size: 0.8rem;
        // font-size: calc((220vh - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
        // font-size: 4vh;
    }

    p {
        margin-top: .5rem !important;
        font-size: 0.5rem;
        // font-size: 2.8vh;
        text-align: center;
        word-wrap: break-word;
        // letter-spacing: 2px;
        // text-align: justify;
    }

    .btn {
        width: 70%;
        margin: auto;
        // padding: 5px 45px;
        padding: 0.2rem 1.5rem;
        // height: 20%;
        border-radius: 20px;
        // background-color: rgba(4, 124, 255, 0.5);
        // background-color: rgba(205, 67, 255, 0.555);
        background-color: black;
        color: white;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.5s ease;
        box-shadow: 0px 4px 10px 2px rgba(black, 0.5);

    }

    .btn:hover {
        // background-color: rgba(4, 124, 255, 0.8);
        // -webkit-box-shadow: 1px 9px 24px 23px rgba(34, 60, 80, 0.16);
        // -moz-box-shadow: 1px 9px 24px 23px rgba(34, 60, 80, 0.16);
        // box-shadow: 1px 9px 24px 23px rgba(34, 60, 80, 0.16);
        -webkit-box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 16px 14px rgba(34, 60, 80, 0.2);
        transition: all 0.5s ease;
    }

    .button-parent {
        // max-width: 100px;
        width: 100%;
        // margin: auto;
        text-align: center;

    }

    a {
        text-decoration: none;
        font-weight: 500;
        position: relative;
        color: black;
        display: inline-block;
    }

   

    // button 4
    $primaryColor : black;

    .btn-2 {
        margin-top: 20px;
        padding: 0.1rem 1.5rem;
        border: 3px solid $primaryColor;
        transition: all 300ms ease;
        box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
        cursor: pointer;
        border-radius: 20px;
        // background-color: #fff;
        // padding: 10px;


    }
}

.section-watercolor {
    // box-shadow: 0em -0.2em 0rem rgba(0, 0, 0, 0.3);
    @include section;
    // margin-top: 100vh;
    // transform: translateY(-100vh);
    // background-color: red;
    padding-top: 8vh !important;


    .bg {
        position: absolute;
        top: 0;
        left: 0;
        // height: 20vh;
        width: 100%;
        object-fit: contain;
        z-index: -1;
    }
    .btn{
        background-color: #67D1FF;
        border: none;
    }



    @media all and (min-width: 800px) {
        .bg {
            width: 100% !important;
            height: 100vh;
        }
    }



}

.section-inc {
    @include section;

    .btn{
        background-color: #515151;
        border: none;
    }

    .bg {
        position: absolute;
        z-index: -1;
        // top: 27vh;
        bottom: 5vh;
        right: 5%;
        width: 90% !important;
   
    }
}

.section-pencil {

    @include section;

    .bg {
        position: absolute;

        // width: 80%;
        bottom: 10vh;
        height: 80%;
        width: 90% !important;
        // margin-top: -40vh;
        left: 5%;
        z-index: -1;
    }
    .btn{
        background-color: #BFBEBE;
        border: none;
    }
 

    .swiper-container {
        // margin-top: 10vh;
    }

}

.section-sepia {

    @include section;

    .bg {
        position: absolute;

        width: 90% !important;
        // top: 25vh;
        left: 5%;
        height: 80% ;
        z-index: -1;
        top: 10%;

        // transform: rotate(-90deg);
        // top:40vh;
        // height: 80vh;
        // background-image: url('../images/bg/sepia.jpg');
        // border: 1px solid red;
        // background-position: 50% 0;
        // background-size: cover;
        // transform: rotate3d(1, 2, -1, 192deg);
    }
    .btn{
        background-color: #CCAE81;
        border: none;
    }

    .swiper-container {
        height: 60vh;

    }

}

.section-acrylic {

    @include section;

    .bg {
        position: absolute;
        // background-image: url('./../images/bg/акрил.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        width: 100% !important;
        height: 80%;
        left: 0%;
        top: 10vh;
        // right: 0;
        z-index: -1;
        // transform: rotate(-90deg);
        // top:40vh;
        // height: 80vh;
        // border: 1px solid red;
    }
    .btn{
        background-color: #8EC9FF;
        border: none;
    }
    .swiper-container {
        height: 60vh;

    }

}

.section-price {
    @include section;
    padding-left: 10%;
    padding-right: 10%;

    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    .text {
        p {
            font-size: 0.6rem;
            font-weight: 800;
        }
    }

    .section-price-first {
        width: 100%;
        height: 100%;
    }

    .section-price-second {
        width: 100%;
        height: 100%;
    }

    .h1 {
        display: block;
    }

    .h11 {
        display: none;
    }

    .slider {
        margin-top: 10px;
        // background-color: orange;
        width: 100%;
        height: 50vh;

        .slider-wrap {
            width: 100%;
            height: 100%;
            // background-color: pink;
            position: relative;

            .slide {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                // display: none;
                // background-color: red;
                opacity: 0;
                transition: all 0.5s ease-in;

                // transform: scale(0.95);
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }

                @media all and (max-width: 800px){
                    img {
                        object-fit: cover;
                    }
                }
                @media all and (min-width: 800px){
                    img {
                        object-fit: contain;
                    }
                }
            }

            .slide.active {
                // display: block;
                opacity: 1;
                transition: all 0.5s ease-in;
                // transform: scale(1);
            }

        }
    }

    .calculator {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        padding-top: 10px;
        position: relative;
        // background-color: red;

        .material {
            input {
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }

            label {
                // margin-top: -10px;
                font-size: 0.7rem;
            }
        }

        .size {
            // margin-left: 15px;
            position: relative;

            input {
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }

            label {
                font-size: 0.7rem;
            }

            p {
                position: absolute;
                width: auto;
                height: 5vh;
                margin-top: 7px;
                // background-color: red;
                font-size: 0.8rem;
                font-weight: bold;

                span {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: rgb(34, 18, 18);
                }
            }
        }
    }
}

@media all and (min-width: 800px) {
    .section-price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .slider {
            height: 70vh;
        }

        // .calculator{
        //     h1{
        //         color: red;
        //     }
        // }
        .h1 {
            display: none;
        }

        .h11 {
            display: block;
        }
    }
}

.section-contacts {

    @include section;
    // background-color: red;
    height: 85vh !important;
    .bg-contacts {
        position: absolute;

        width: 100%;
        height: 100% ;
        bottom: 0 ;
        left: 0;
        object-fit: contain;
        // margin-left: -25%;
        z-index: -1;
        // background-color: red;
    }



    .text {
        // margin-top: 25vh;
        h1{
            margin-top: 25vh;

        }
    }


}

// SWIPER

.swiper-container {
    width: 100%;
    // padding-top: 50px;
    // padding-bottom: 50px;
    margin-top: 3vh;
    // background-color: red;
    margin-bottom: 50px;
    height: 55vh;

    .swiper-button-next::after,
    .swiper-button-prev::after {
        // color: #848484;
        color: black;
    }

    .swiper-pagination-bullet-active {
        background-color: black;
        // border: 1px solid white;
    }


}

.swiper-slide {

    // background-position: center;
    // background-size: cover;
    width: auto !important;
    height: 100%;
    margin: auto;
    // background-color: red;
    display: flex;
    justify-content: center;


    img {
        object-fit: cover;
    }

}

footer{
    width: 100%;
    height: 15vh;
    background-color: #0B1922;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__container{
        width: 50%;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}



@mixin flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@mixin reverce {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

@media all and (min-width: 1000px) {
    .section {
        padding: 0 10%;
    }

    .text {
        h1 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }
    }
}
@media all and (min-width: 800px) and (max-width: 1030px) and (orientation: portrait) {

    
    .section-main {
        background-image: url('../images/bg/mainbig2.jpg');
        background-position: 70% 0% !important;
        .text-main {
            // background-color: red;
            width: 60%;
            top: -7vh !important;
            left: 5% !important;
        }
    }

    .section{
        .swiper-container {
            width: 50% !important;
            height: 50vh !important;
            background-color: pink ;
        }
    }
  

}

@media all and (min-width: 800px) {

    .text {
        // margin-top: 20vh;

        h1 {
            font-size: 0.9rem;
        }

        p {
            font-size: 0.5rem;
        }
    }

    .section-main {
        .text-main {
            // background-color: red;
            width: 60%;
            top: -17vh;
            left: 10%;

            h1 {
                // font-size: 2.6rem !important;
                font-size: calc((530vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem) !important;
            }

            p.mobil {
                font-size: 0.9rem !important;
                display: none;
            }

            p.dt {
                // font-size: 1.2rem !important;
                // font-size: 1.2rem !important;
                display: block;
                margin-top: 0%;
                margin-left: 5%;
                font-size: calc((130vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem) !important;
            }
        }

    }


    .section-main {
        background-image: url('../images/bg/mainbig2.jpg');
        // background-position: 70% 0% !important;
    }

    .section.flex {
        @include flex;
        // align-items: start;

        img {
            width: 50%;
            // background-color: red;
        }

        .text {
            margin-top: -20vh;
            width: 45%;

            // background-color: green; 
            h1 {
                // font-size: 1.2rem;
                font-size: calc((60vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
            }

            p {
                font-size: calc((30vw - 30rem)/(50 - 30) * (1.5 - 1) + 1rem);
                // font-size: 0.8rem;
                font-weight: 100;
            }
        }

        .swiper-container {
            width: 50%;
            height: 80vh;
            // background-color: pink ;
        }

    }

    .section.flex.reverce {
        @include reverce;
    }
}




@media all and (min-width: 650px) {
    .text-main {
        // background-color: red;
        margin-top: 35vh !important;
        left: 5%;

        h1 {
            font-size: 1.4rem !important;
        }

        p {
            font-size: 0.9rem !important;
        }
    }

    .swiper-container {
        height: 65vh;
    }

}